<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Demo for ubox-auto-sdk-web</title>
    <% if(isDev){ %>
        <script src="http://localhost:8080/UBoxAuto.min.js"></script>
    <% } else { %>
        <script src="https://cdn.jsdelivr.net/npm/ubox-auto-sdk-web@0.2.0/dist/UBoxAuto.min.js"></script>
    <% } %>
</head>

<body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
</body>

</html>